.reveal p.talk-repo {
    margin-top: 7em;
}

.reveal p.center {
    text-align: center;
}

.reveal p.and {
    text-align: center;
    margin-top: 2em;
}

.reveal .slides section.title-page {
    background-image: url("../tailess-whip-scorpion2.png");
    background-repeat: no-repeat;
    background-position: 55% 75%;
    background-color: transparent;
}

.reveal .slides section.conclusion {
    background-image: url("../Ritz_Hotel_sign.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: transparent;
}

.reveal p.small {
    font-size: 0.5em;
}

.reveal .center p {
    text-align: center;
}

.reveal p {
    text-align: left;
}

.reveal h3 {
    margin-top: 1em;
}

.reveal section > h3 {
    margin-top: 0.5em;
}

.reveal p.maintainer {
    margin-top: 2em;
}

.reveal ul {
    margin-bottom: 2em;
    list-style: none;
    /* width: 7%; */
}

.reveal table {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-border-horizontal-spacing: 0px;
    border-spacing: 0px;
}

.reveal table.large-table {
    font-size: 10pt;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.reveal table td {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.reveal td, .reveal th  {
    border-top: 1px solid #EEE !important;
}

.reveal table th  {
    text-shadow: 0 0 transparent;
    font-weight: bold;
}

.reveal table.large-table td {
    padding-left: 0em;
    padding-right: 0em;
}

.reveal pre.large {
    font-size: 0.5em;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0px;
    width: 100%;
}

.reveal pre.threads {
    font-size: 0.40em;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0px;
    width: 100%;
}

dl.table-display
{
        /* float: left; */
        width: 100%;
        /* width: 520px; */
        margin: 1em 0 2em 0;
        padding: 0;
        border-bottom: 1px solid #999;
}

.table-display dt
{
        clear: left;
        float: left;
        width: 25%;
        margin: 0;
        padding: 5px;
        border-top: 1px solid #999;
        font-weight: bold;
}

.table-display dd
{
        float: left;
        /* width: 300px; */
        width: 70%;
        margin: 0;
        padding: 5px;
        border-top: 1px solid #999;
}

.reveal section img {
    border: 0;
}

.reveal section img {
  background: rgba(255, 255, 255, 0);
  border: 0px;
  box-shadow: 0 0 0;
}

.reveal pre {
  box-shadow: 0 0 0;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0.5em auto 1em auto;
}

.syntaxhighlighter  {
    font-weight: bold !important;
}
